@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: white;
  scroll-behavior: smooth;
  background-color: #202731;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
}

.spacer {
  position: absolute;
  top: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.layer1{
    position: absolute;
    top: 290vh;
    bottom: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #202731;
    z-index: 4;
}
.layer1>p{
    position: absolute;
    background-color: #202731;
    left: 40%;
    z-index: 5;
    top: 20vh;
    font-weight: 500;
}
.content {
    width: 1000px;
    min-height: 60vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 100px;
  }
 
.heading>p{
    font-size: 12rem;
    font-weight: 700;
    text-align: left;
}
.Image>img{
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover{
  0%{transform: translateY(0);}
  50%{transform: translateY(-5px)}
  100%{transform: translateY(-10px)}
}
@keyframes mover{
  0%{transform: translateY(0);}
  50%{transform: translateY(5px)}
  100%{transform: translateY(-10px)}
}
.Textcontent{
    width: 1000px;
    min-height: 60vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 100px;
}
.Textcontent>h1{
    font-size: 3rem;
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
}

.Textcontent>p{
    font-size: 1.5rem;
    width: 100%;
    text-align: justify;
    /* margin-bottom: 1rem; */
}
.blue {
  background-color: #525fe1;
  z-index: 10;
}
.red {
  background-color: #d21312;
}
.purple {
  background-color: #c9a7eb;
}
.lightGreen {
  background-color: #ade4db;
}
.blueGreen {
  background-color: #009fbd;
}
.black {
  background-color: #202731;
}
